button {
  margin: 0.2rem;
  padding: 0.2rem;
}

button:hover {
  cursor: pointer;
}

.box--component {
  border: 0.15rem solid lavender;
  margin: 1rem;
  padding: 1rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
