* {
  color: var(--color-text-primary);
}

button {
  background-color: var(--color-background-primary);
  margin: 0.2rem;
  padding: 0.2rem;
}

button:hover {
  cursor: pointer;
}

.box--component {
  border: 0.15rem solid var(--color-border-primary);
  margin: 1rem;
  padding: 1rem;
}

:root {
  --color-text-primary: black;
  --color-text-secondary: grey;
  --color-background-primary: white;
  --color-border-primary: rgba(129, 16, 194, 10);
}
